.card {
  display: block;
  margin: auto;
  width: 600px;
  height: 400px;
  background-color: rgb(224, 253, 253);
  margin-top: 50PX;
}

button {
  top: 50px;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 48%;
  float: left;
  margin: 10px 1%;
}

.btn-sub {
  display: block;
  margin: auto;
  width: 150px;
  font-weight: bold;
}

 .homeBtn {
  text-align: center;
}

.backBtn, a {
  text-decoration: none;
}



